[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "cool-simple-zsh-theme"]
	path = cool-simple-zsh-theme
	url = https://github.com/HeroGlaucoP/cool-simple-zsh-theme.git
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
