[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "oh-my-vim"]
	path = oh-my-vim
	url = https://github.com/liangxianzhe/oh-my-vim
[submodule ".vim_runtime"]
	path = .vim_runtime
	url = https://github.com/amix/vimrc
[submodule "Conky-themes"]
	path = Conky-themes
	url = https://github.com/xexpanderx/Conky-themes
[submodule "rofi-web-search"]
	path = rofi-web-search
	url = https://github.com/pdonadeo/rofi-web-search.git
